body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: black;
}
h1 {
    align-items: flex-start;
    color: white;
}
.gameBoard {
    background: white;
    height: 700px;
    width: 1150px;
}
td {
    border: 1px solid black;
    color: blue;
    display: center;
}
button {
    width: 100%;
    height: 100%;
    color: red;
    font-size: 20pt;
    background: blue;
}
div {
    
    color: white;
}